.myImage-1{
    height: 100px;
    object-fit: cover;
}
.myImage-2{
    height: 110px;
    object-fit: cover;
}
.myImage-3{
    height: 120px;
    object-fit: cover;
}
.myImage-4{
    height: 130%;
    object-fit: cover;
}
.myImage-5{
    height: 140%;
    object-fit: cover;
}
.myImage-6{
    height: 150px;
    object-fit: cover;
}
.myImage-7{
    height: 160%;
    object-fit: cover;
}
.myImage-8{
    height: 170px;
    object-fit: cover;
}
.myImage-9{
    height: 180px;
    object-fit: cover;
}
.myImage-10{
    height: 190px;
    object-fit: cover;
}
.myImage-11{
    height: 200px;
    object-fit: cover;
}
